@media screen and (max-width: 900px) {
    .info{
        width: 75svw;
        flex-direction: column;
        padding: 40px 35px;
    }
    .text-box{
        width: 100%;
        margin-top: 0.5em;
    }
    nav{
        background-color: black;
    }
    .main-top{
        margin-top: 70px;
    }
    .p{
        font-size: 20px;
    }
    .info h2{
        font-size: 22px;
    }
    .text-box{
        font-size: 20px;
    }
    .submit{
        font-family: 'Roboto-serif';
        font-size: 28px;
        padding: 0.2em 1em;
    }
    #explore{
        font-size: 36px;
        margin-bottom: 40px;
    }
    .latter h2{
        margin-top: 1em;
    }
}
